
:root {
    --yellow: #FCFFA0;
    --blue  : #9BEEFF;
    --green : #B1FF9B;
    --red   : #FF9B9B
}

.context-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    z-index: 1000;
}

.context-menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.context-menu ul li{
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}

.hwt-content{
    padding-top: 3px;
    padding-left: 35px;

}

.hwt-content mark.blue{
    background-color: var(--blue);
}
.hwt-content mark.green{
    background-color: var(--green);
}
.hwt-content mark.red{
    background-color: var(--red);
}
.hwt-content mark.yellow{
    background-color: var(--yellow);
}

/* blue variant */
.hwt-content mark.blue-green{
    background: linear-gradient(to top, var(--blue) 0%, var(--blue) 50%, var(--green) 50%, var(--green) 100%) ;
}
.hwt-content mark.blue-red{
    background: linear-gradient(to top, var(--blue) 0%, var(--blue) 50%, var(--red) 50%, var(--red) 100%) ;
}
.hwt-content mark.red-blue{
    background: linear-gradient(to top, var(--blue) 0%, var(--blue) 50%, var(--red) 50%, var(--red) 100%) ;
}
.hwt-content mark.blue-yellow{
    background: linear-gradient(to top, var(--blue) 0%, var(--blue), var(--yellow) 50%, var(--yellow) 100%) ;
}
.hwt-content mark.yellow-blue{
    background: linear-gradient(to top, var(--blue) 0%, var(--blue), var(--yellow) 50%, var(--yellow) 100%) ;
}

/* green variant */
.hwt-content mark.green-red{
    background: linear-gradient(to top, var(--green) 0%, var(--green) 50%, var(--red) 50%, var(--red) 100%) ;
}
.hwt-content mark.green-yellow{
    background: linear-gradient(to top, var(--green) 0%, var(--green) 50%, var(--yellow) 50%, var(--yellow) 100%) ;
}
.hwt-content mark.yellow-green{
    background: linear-gradient(to top, var(--green) 0%, var(--green) 50%, var(--yellow) 50%, var(--yellow) 100%) ;
}

/* red variant */
.hwt-content mark.red-yellow{
    background: linear-gradient(to top, var(--red) 0%, var(--red) 50%, var(--yellow) 50%, var(--yellow) 100%) ;
}
.hwt-content mark.yellow-red{
    background: linear-gradient(to top, var(--red) 0%, var(--red) 50%, var(--yellow) 50%, var(--yellow) 100%) ;
}

.hwt-content mark.red-green{
    background: linear-gradient(to top, var(--green) 0%, var(--green) 50%, var(--red) 50%, var(--red) 100%) ;
}
