{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}
<style>

    /* Define here the variable color and reuse them everywhere, better code ...*/



</style>

<script type="text/javascript">
    var dataExercise = {{ data|safe }}
</script>

{{ header | safe }}

<div class="form-group row">
    <label for="code-PID" class="col-sm-2 " readonly></label>
    <div class="col-sm-10">
        <textarea id="code-PID" class="form-control" name="problem[PID][code]"
                                     oninput='this.style.height= ""; this.style.height = this.scrollHeight + "px"' on
                                     style="width: 1044px; min-height: 150px; border-color: darkgray; padding-left: 35px;"  readonly>{{ code }}</textarea>
    </div>
</div>

<div class="form-group row">

    <div class="col-sm-10">
    </div>
    <div class="form-row" id="labelDiv">
</div>


<input id="answer-PID" type="text" name="{{inputId}}" value="" class="monospace form-control"/>


<div id="context-menu" class="context-menu">
    <ul id="list_context-menu"></ul>
</div>
</div>
<div id="context-menu" class="context-menu">
    <ul id="list_context-menu"></ul>
</div>

<script>
    $(document).ready()
    {

        let textarea = $('#code-PID')
        let answerarea = $('#answer-PID')
        contextMenuStart()

        for (const [id, value] of Object.entries(dataExercise)) {
            createLabelText(id, textarea, value["color"], true)
            createLabelStudent(id,value["label"],value["color"], textarea, answerarea)
            set_contextName(id,value["label"])
            set_labelNameID(id,value[["label"]])
        }



    }
</script>